    .headerBar {
        background: linear-gradient(to bottom, #2a2b30 0%, #292a2f 100%);
        height: 60px;
        min-height: 60px;
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 0 15px;
        justify-content: space-between;
        overflow: hidden;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .app-name {
        font-size: 16px;
        font-weight: bold;
        color: #f6ca9d;
        width: 230px;
        display: flex;
        align-items: center;
    }

    .app-name-home {
        display: flex;
        align-items: center;
        padding-right: 15px;
        color: #f6ca9d;
        font-weight: bold;
        padding: 0 10px;
    }

    .breadcrum {
        display: flex;
        margin: auto !important;
        display: flex;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        border-radius: .25rem;
    }

    .breadcrum:hover {
        cursor: pointer;
        background-color: rgb(112, 122, 94);
    }

    .user-center-img {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        box-shadow: 0 0 5px 3px #d4d2d0;
        margin-right: 7px;
    }

    .header-right {
        width: 80px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.5s;
    }
    
    .header-right:hover{
        background-color: rgba( #f6ca9d, 0.8);
    }

    .select-img {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    .select-panel {
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 77;
        min-width: 90px;
        min-height: 50px;
        background: #ffffff;
        padding: 7px 14px;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px #787878;
        color: #666666;
        text-align: center;
    }

    .select-panel div {
        padding: 5px 0;
    }

    .logout {
        color: #f6ca9d;
        font-weight: bold;
        cursor: pointer;
    }
